<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h1>bus me!</h1>
      <p>stuck somewhere in the atlanta area and need to catch a bus outta there? just enter your address below to see nearby buses!</p>

      <%= render 'form', location: @location %>

    </div>
  </div>
</div>


